body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    font-weight: bold;
}

span {
    font-weight: bold;
}

/* Formulario de captura */
form {
    display: grid;
    gap: 10%;
    max-width: 320px;
}

label {
    font-weight: bold;
    display: block;
}

input {
    padding: 70%;
}

button {
    font-weight: bold;
    padding: 60%;
}

#estado-captura {
    margin-top: 0.5rem;
    font-weight: bold;
}

/* Museo */
#museo-grid {
    padding: 0;
    display: grid;
    gap: 1rem;
}

#museo-grid li {
    border: 1px solid #ccc;
    padding: 0.8rem;
    text-align: center;
}
